.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0c2f6b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#homepage-button-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.homepage-button {
  display: inline-block;
  text-align: center;
}

.recipe-display {
  background-color: #0c2f6b;
  min-height: 100vh;
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
