#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1vw;
}

#nav-bar button {
  background:none;
  border:none;
  height: 6vh;
  outline: none;
}

#nav-bar button:hover {
  cursor: pointer;
}

#nav-bar img {
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #FDEBD0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #12387a;
}

#homepage-title {
  margin: 0.2em;
}

#homepage-upload {
  font-weight: 700;
  margin: 0.1em;
}

#homepage-button-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.homepage-button {
  display: inline-block;
  text-align: center;
}

.recipe-display {
  /* background: repeating-linear-gradient(
    45deg,
    #FDEBD0,
    #FDEBD0 30px,
    #ffd5cc 30px,
    #ffd5cc 60px
  ); */
  background-color: #FDEBD0;
  height: 100vh;
  padding-top: 6vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #12387a;
}

.recipe-display h1 {
  margin: 0.3em;
}

.recipe-display h6 {
  font-family: "Lora", serif;
  margin: 0;
  font-weight: 400;
}

.food-icon {
  height: 8vh;
  position: fixed;
}

#bread-icon {
  top: 20vh;
  left: 10vw;
}

#lettuce-icon {
  top: 50vh;
  left: 15vw;
}

@media (max-width: 760px) {
  #lettuce-icon {
    display: none;
  }
}

#cheese-icon-link {
  top: 20vh;
  left: 60vw;
  background: none;
  outline: none;
  border: none;
}

#cheese-icon-link:hover {
  cursor: pointer;
}

#cheese-icon {
  height: 100%;
}

#steak-icon {
  top: 10vh;
  left: 80vw;
}

#avocado-icon {
  top: 40vh;
  left: 80vw;
}

#egg-icon {
  top: 75vh;
  left: 35vw;
}

#milk-icon {
  top: 12vh;
  left: 38vw;
}

@media (max-width: 760px) {
  #avocado-icon {
    display: none;
  }
}

#fish-icon {
  top: 85vh;
  left: 60vw;
}

#veggie-icon {
  top: 70vh;
  left: 85vw;
}

#watermelon-icon {
  top: 80vh;
  left: 10vw;
}

/* recipe page */

#bread-icon-rec {
  top: 20vh;
  left: 8vw;
}

#lettuce-icon-rec {
  top: 50vh;
  left: 12vw;
}

#cheese-icon-rec {
  top: 80vh;
  left: 8vw;
}

#steak-icon-rec {
  top: 10vh;
  left: 83vw;
}

#avocado-icon-rec {
  top: 40vh;
  left: 88vw;
}

#fish-icon-rec {
  top: 75vh;
  left: 82vw;
}

@media (max-width: 760px) {
  #bread-icon-rec { display: none; }
  #lettuce-icon-rec { display: none; }
  #cheese-icon-rec { display: none; }
  #steak-icon-rec { display: none; }
  #avocado-icon-rec { display: none; }
  #fish-icon-rec { display: none; }
}
